html {
  font-family: sans-serif;
}

body {
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #ce54ce;
}

#container {
  box-sizing: border-box;
  text-align: center;
  width: 450px;
  height: 550px;
}

h1 {
  background-color: #161616;
  color: #fff;
  text-align: center;
}

#des {
  font-size: 1.1rem;
}

#guess_h1 {
  font-size: 2.5rem;
  margin-top: 70px;
  text-align: center;
  color: #fff;
}

.remain_guess {
  color: white;
  padding: 7px;
}

.pre_guess {
  color: white;
  padding: 7px;
}

#guessNum {
  color: #000;
  width: 250px;
  height: 40px;
  font-size: 25px;
  margin-top: 25px;
  border: 2px solid #6c6d6d;
  border-radius: 10px;
  text-align: center;
}

#submit {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  cursor: pointer;
}

.resultParas {
  font-size: 1.2rem;
}